<div id="registration-outer">
	<div class="upper-event-list">
		<div class="container">
			<div class="row">

				<div id="registration-section" class="col-md-12 text-center" >
					<div id="registration-header">
						<h2>Doggies Going to <%= @event.name %>!</h2>
					</div> <!-- end registration-header -->
					<br>

					<div id="registration-form" style="overflow: auto; height:300px">

							<table>
  								<% @registrations.each_slice(6) do |reg| %>   
   									<tr>
      									<% reg.each do |picture| %>
        								<td> 
          									<%= link_to image_for_thumb(picture.user), picture.user %>
          									<p><%= link_to picture.user.name, picture.user %></p>
        								</td>
      									<% end %>
    								</tr>
 								 <% end %>
							</table>


					</div> <!-- end registration-form -->
				</div> <!--registration-section -->

			</div> <!--end first row -->
		</div> <!--end first container -->
	</div> <!-- end upper-event-list -->
</div> <!--end registration-signup -->