@import "colors";

header#page-header {
  background-color: #7ebe37;
  box-shadow: white 0 0 30px;
  padding: 6px 40px;

  h1 a {
    height: 0px;
    padding-top: 60px;
    display: block;
    font-family: "Esteban", sans-serif;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    background: image-url("logo.png") left bottom no-repeat;
  }

  a.button {

    margin-top: 16px;
    margin-left: 10px;
    border-color: $subdued-color;
    &:hover {
      background-color: #ccc;
      color: #fff;
      border-color: #000;
      text-decoration: none;
    }
  }

  div#masthead {
    margin: 0 auto;
    width: auto;
    position: relative;
    text-shadow: #000 0 0 2px;

    h1 {
      margin: 0;
      color: #fff;
      line-height: 60px;
    }

    nav {
      margin: 0;
      position: absolute;
      color: $subdued-color;
      top: 0;
      right: 0;
      height: 60px;
      a {
        color: $secondary-link-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

div#all-events {
  margin: 20px 40px 20px 40px;
  padding: 10px 20px;
  background-color: white;
  box-shadow: #aaa 0 0 8px;
  border: 2px solid #7ebe37;

  h2, h3 {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color: #377ebe
  }


  article {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color: black;
    float: left

    p {
      color: black
    }
  }
}

div#registration-signup {
  margin: 20px 0px 0px, 0px;
  padding: 0px 0px;
  background-color: white;
  box-shadow: #aaa 0 0 8px;
  border: 2px solid #7ebe37;

  h2 {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color: #377ebe
  }


  article {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color: black;
    float: left

    p {
      color: black
    }
  }
}

#event-details{
  h2, h3{
    color: #377ebe;
  }
}

footer#page-footer {
  color: #FFF;
  padding: 0px 10px;

  p {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-align: center;
    margin-bottom: 10px;
  }
}

.profile-page{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #FFF;
  border: 2px solid #7ebe37;

  h1{
    color: #377ebe;

  }

  img{
  display: block;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  box-shadow: #aaa 0 0 8px;
  }

  #name-buttons h1{
    text-align: center;
  }

  .button {
    margin-right: auto;
    margin-left: 60px;
    margin-bottom: 20px;
    width: 180px;
    text-align: center;
  }

  #info-area{
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: #aaa 0 0 8px;
  }

}

#map-container{
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: #aaa 0 0 8px;
}

#map-container-index{
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: #aaa 0 0 8px;
}

#inner-event-list{
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: #aaa 0 0 8px;
}

#registration-form{
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
  margin: 0, auto;
  box-shadow: #aaa 0 0 8px;
}

#users-form{
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
  box-shadow: #aaa 0 0 8px;

  img{
    display: block;
    margin: 0 auto;
  }
}

.more-info-button{
  margin-top: 10px;
  margin-left: 10px;
  float:right;
}


